html {
  height: 100%;
  width: 100%;
}
body {
	background-color: darkred;
	text-align: center;
}
h1 {
	color: blue;
	font-family: Brush Script MT;
	text-align: center;
}
p {
	color: greenyellow;
	font-family: courier;
	font-size: 120%;
	text-align: center;
}